#pokemonImg:hover {
  animation: rotate 2s infinite;
  cursor: pointer;
  transform: scale(1.1);
}

@keyframes rotate {
  50% {
    transform: rotate(-30deg);
  }
}

#blueCard:hover {
  cursor: pointer;
  animation: scale 1.5s infinite;
  border: solid 3px #005d8f;
}

#redCard:hover {
  cursor: pointer;
  animation: scale 1.5s infinite;
  border: solid 3px #c41010;
}

#blueCard,
#redCard,
#pokemonImg {
  cursor: pointer;
}

@keyframes scale {
  50% {
    transform: scale(1.05);
  }
}

#konam i {
  animation: rotate 2s infinite;
  cursor: pointer;
  transform: scale(2);
}

#titl e {
  animation: rotate 2s infinite;
  cursor: pointer;
  transform: scale(2);
}
